

#blurryBackground {
    position: absolute;
    width: 100vw;
    z-index: 0;
    transition: 3s;
}

#hitMeButton {
    position: absolute;
    right: 10vw;
    height: 10vh;
    width: 10vw;
    background-color: rebeccapurple;
}

#modestAngel {
    position: absolute;
    top: 0;
    left: 7vw;
    width: 80vw;
    z-index: 0;
    transition: 3s;

}
