
#blurryBackground {
    position: absolute;
    width: 100vw;
    z-index: 0;
    transition: 3s;
}

#hitMeButton {
    position: absolute;
    right: 10vw;
    height: 10vh;
    width: 10vw;
    background-color: rebeccapurple;
}

#modestAngel {
    position: absolute;
    top: 0;
    left: 7vw;
    width: 80vw;

    /*box-shadow: 0 30px 40px rgba(0,0,0,.1);*/
    /*border-radius: 25px;*/
    /*border: 12px solid darkslategray;*/
    z-index: 0;
    transition: 3s;

}
