html {
    /*font-family: 'calibre-Bold', sans-serif;*/
    font-family: 'Calibre-Bold', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

span {
    color: dodgerblue;
}

body {
    background-color: rgb(235, 245, 255);
    transition: 5s;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;
    background-color: white;
    position: fixed;
    z-index: 1;
    box-shadow: 1px 1px lightgray;
    transition: 0.5s;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mostHeaderishText {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0;
    letter-spacing: 0.3em;
    text-shadow: 1px 1px black;
}

.leastHeaderishText {
    font-weight: 1000;
    font-size: 1.2rem;
    margin-top: 0.5em;
    letter-spacing: 0.1em;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    overflow: hidden;
}

.sideMenu {
    margin-top: 0;
    margin-left: 1rem;
}

.menuItemDiv {
    height: 4rem;
}

.sideMenu:hover {
    cursor: pointer;
}

#sideBar {
    background-color: white;
    width: 24vw;
    height: 100vh;
    transform: translateX(-25vw);
    transition: .75s;
}

#sideBarButtonDiv {
    position: absolute;
    left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sideBarButtonDiv:hover {
    cursor: pointer;
}

.bars {
    display: inline-block;
    padding: 0 20px;
    width: 58px;
    height: 28px;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}

.bar {
    display: block;
    position: absolute;
    width: 22px;
    height: 4px;
    background-color: #1a1a1a;
}

#navElement {
    font-weight: bold;
}

#theRealContent {
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 2rem;
}

.horizontalDiv {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    transform: translateX(100vw);
}



