<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/home.css">
    <title>Welcome Page</title>
</head>
<body>

<header>
    <div id="sideBarButtonDiv">
        <span class="bars" id="bars"></span>
        <h4 class="leastHeaderishText" id="navElement">NAV STUFF</h4>
    </div>

    <div id="title">
        <h3 class="mostHeaderishText">SUSAN GOSS JOHNSTON</h3>
        <h5 class="leastHeaderishText">Genealogy Lecturer and Instructor</h5>
    </div>

</header>

<main>

    <div id="sideBar"></div>
    <div id="theRealContent"></div>


</main>
<script src="/js/chiefWarrantOfficerBars.js"></script>
<script src="/js/mainLayoutStuff.js"></script>
<script src="/js/sideBarMenu2.js"></script>


</body>
</html>
