<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/angel.css">
    <link rel="stylesheet" href="/css/smallCubicle.css">
    <link rel="stylesheet" href="/css/converterAccordions.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/loadWelcomePage.js" defer></script>
    <script src="/js/converterComponents2.js" defer></script>
    <script src="/js/funBackEndStuff.js" defer></script>
    <script src="/js/chiefWarrantOfficerBars.js" defer></script>
    <script src="/js/mainLayoutStuff.js" defer></script>
    <script src="/js/sideBarMenu2.js" defer></script>

    <script src="/js/accordions.js" defer></script>
    <script src="/js/convertingMotor2.js" defer></script>

    <title>Welcome Page</title>
</head>
<body>


<header>
    <div id="sideBarButtonDiv">
        <span class="bars" id="bars"></span>
        <h4 class="leastHeaderishText" id="navElement"></h4>
    </div>

    <div id="title">
        <h3 class="mostHeaderishText">SUSAN GOSS JOHNSTON</h3>
        <h5 class="leastHeaderishText">Genealogy Lecturer and Instructor</h5>
    </div>

</header>

    <img id="modestAngel" src="/images/hope.JPG" alt="">

<main>

    <div id="sideBar"></div>
    <div id="theRealContent"></div>
</main>


<div id="converterDiv">
    <div id="converterHeader"></div>
    <div class="container" id="converterContainer"></div>
</div>



</body>
</html>
