<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>The Administrative Stuff</title>
    <link rel="stylesheet" href="/css/funStuff.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
<div id="backdrop">

    <h1>The dashboard....</h1>


    <div id="mainContainer">
        <ul id="menuItemsList"></ul>
        <ul id="listToRevise"></ul>
    </div>

    <div id="controlBoard">
        <button id="addSeriesButton">Add a Lecture Series</button>
        <button id="removeSeriesButton">Remove a Lecture Series</button>
        <button id="editSeriesButton">Edit a Lecture Series</button>


    </div>


</div>


    <div id="editingModal" class="modal">
        <div>
            <h1>Soon to be an input of some kind</h1>
            <h2>And maybe another input</h2>
            <button id="x">X</button>
        </div>
    </div>
    <div id="editingBox" class="editingBox"></div>
    <div id="finalDelete" class="editingBox"></div>

<!--<script src="/js/funBackEndStuff.js"></script>-->
<script src="/js/funBackend2.js"></script>
</body>
</html>
